@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

/* Reset  */

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

/* Global Variables */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.draft {
    color: #00BFA6;
}

img {
    display: block;
    max-width: 100%;
}

/* Body */

body {
    grid-template-columns: 80px minmax(280px, 1fr) minmax(300px, 1fr) 80px;
    background: #2F2E41;
    height: 100vh;
}

/* Header */

.container_header {
    grid-column: 2 / 4;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.container-nav {
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

.menu_list {
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
}

.menu_list a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.uil {
    position: absolute;
    color: #fff;
    right: 0;
    opacity: 0;
}

/* Main */

.container_main {
    grid-column: 2 / 4;
    gap: 40px;
    justify-content: stretch
}

.container_main img {
    width: 100%;
}

.container_text {
    grid-column: 3;
    text-align: center;
}

.title {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    font-style: bold;
    line-height: 40px;
    line-height: 86%;
    color: #fff;
    margin-bottom: 40px;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #C2C2C2;
    font-weight: 400;
    line-height: 28px;
    line-height: 129%;
    margin-bottom: 28px;
}
/* Footer */

.container_footer {
    grid-column: 2 / 4;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.text-footer {
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    padding: 5px;
}

.line {
    height: 1px;
    background-color: #00BFA6;
}

.text-footer a {
    text-decoration: none;
    color: #fff;
}

.img-lock{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

@media (max-width: 750px) {
    body {
        grid-template-columns: 1fr;
        padding: 50px;
    }
    .container_header {
        margin-top: 0;
    }

    .container_main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container_main img {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 570px) {

    .menu_list {
        opacity: 0;
        position: absolute;
    }

    .uil {
        position: inherit;
        opacity: 1;
        font-size: 30px;
    }

    .img-lock {
        opacity: 0;
    }
}